---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
import { Bike } from "@lucide/astro";
import Header from "@/components/Header.astro";
import MediaContent from "@/components/MediaContent.astro";
import ReviewList from "@/components/ReviewList.astro";
import Card from "@/components/Card.astro";
import { useTranslations, useTranslatedPath } from "@/lib/i18n";
import { reviews } from "@/constants/reviews";

const { lang } = Astro.props as { lang: keyof typeof reviews };
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Layout>
  <div data-scroll-animated class="h-28 w-screen sticky top-0 z-10 bg-muted">
  </div>
  <Header
    title={t("home.header.title")}
    text={t("home.header.text")}
    image="/header-image.jpg"
    buttonText={t("home.header.button")}
    buttonLink={translatePath("/the-place")}
  />
  <div
    data-scroll-animated
    class="h-28 -mb-20 w-screen sticky top-0 z-10 bg-background"
  >
  </div>
  <MediaContent
    direction="left"
    title={t("home.rooms.title")}
    text={t("home.rooms.text")}
    image="/header-image.jpg"
    buttonText={t("home.rooms.button")}
    buttonLink="/bedrooms"
  />
  <MediaContent
    title={t("home.counter.title")}
    text={t("home.counter.text")}
    image="/header-image.jpg"
    buttonText={t("home.counter.button")}
    buttonLink="/bedrooms"
  />
  <ReviewList title={t("home.reviews.title")} reviews={reviews[lang]} />
  <section class="grid grid-cols-6 gap-8 md:gap-10 px-20 mt-48">
    <h2 class="mb-4 col-span-6">{t("home.surroundings.title")}</h2>
    <Card
      title={t("card.safari.title")}
      image="/example.jpg"
      imageAlt="Example Image"
      description={t("card.safari.description")}
      tags={[{ icon: Bike, text: "10 min" }, { text: t("card.tag.family") }]}
      buttonText={t("card.safari.button")}
      buttonLink="/example"
      class="col-span-3"
    />
    <Card
      title={t("card.safari.title")}
      image="/example.jpg"
      imageAlt="Example Image"
      description={t("card.safari.description")}
      tags={[{ icon: Bike, text: "10 min" }, { text: t("card.tag.family") }]}
      buttonText={t("card.safari.button")}
      buttonLink="/example"
      class="col-span-3"
    />
    <Card
      title={t("card.safari.title")}
      image="/example.jpg"
      imageAlt="Example Image"
      description={t("card.safari.description")}
      tags={[{ icon: Bike, text: "10 min" }, { text: t("card.tag.family") }]}
      buttonText={t("card.safari.button")}
      buttonLink="/example"
      class="col-span-2"
    />
    <Card
      title={t("card.safari.title")}
      image="/example.jpg"
      imageAlt="Example Image"
      description={t("card.safari.description")}
      tags={[{ icon: Bike, text: "10 min" }, { text: t("card.tag.family") }]}
      buttonText={t("card.safari.button")}
      buttonLink="/example"
      class="col-span-2"
    />
    <Card
      title={t("card.safari.title")}
      image="/example.jpg"
      imageAlt="Example Image"
      description={t("card.safari.description")}
      tags={[{ icon: Bike, text: "10 min" }, { text: t("card.tag.family") }]}
      buttonText={t("card.safari.button")}
      buttonLink="/example"
      class="col-span-2"
    />
    <Button class="col-span-6 mx-auto mt-6"
      >{t("home.surroundings.button")}</Button
    >
  </section>
  <section class="px-20 my-48">
    <div class="mx-auto bg-muted px-6 py-24 max-w-5xl rounded-3xl">
      <div class="w-fit mx-auto space-y-10">
        <h3>{t("home.booking.title")}</h3>
        <div class="flex justify-between">
          <Button href="/booking">{t("home.booking.button")}</Button>
          <Button href="/booking" variant="secondary"
            >{t("home.booking.secondaryButton")}</Button
          >
        </div>
      </div>
    </div>
  </section>
</Layout>
