---
import Layout from "@/layouts/Layout.astro";
import Button from "../ui/button/button.astro";
import { useTranslations, getLocalizedUrl } from "@/lib/i18n";
import type { Locale } from "@/i18n/routes";

const { lang } = Astro.props as {
  lang: Locale;
};

const t = useTranslations(lang);
---

<Layout>
  <div
    data-scroll-animated
    class="h-28 w-screen sticky top-0 z-10 bg-background"
  >
  </div>
  <div
    class="px-20 pb-24 md:w-4/5 justify-center flex flex-col mx-auto h-[80vh] max-w-4xl"
  >
    <h1>{t("notfound.title")}</h1>
    <div class="mt-12 flex flex-col gap-4">
      {t("notfound.message")}
      <Button class="ml-auto" href={getLocalizedUrl("home", lang)}>
        {t("notfound.button")}
      </Button>
    </div>
  </div>
</Layout>
