---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import MediaContent from "@/components/MediaContent.astro";
import { useTranslations } from "@/lib/i18n";
import { languages } from "@/i18n/ui";
import carportCounter from "@/images/carport-counter.jpg";
import carportCounterBikes from "@/images/carport-counter-bikes.jpg";

const { lang } = Astro.props as { lang: keyof typeof languages };
const t = useTranslations(lang);
---

<Layout
  bodyClass="theme-counter"
  title={t("seo.pages.counter.title")}
  description={t("seo.pages.counter.description")}
>
  <div data-scroll-animated class="bg-muted sticky top-0 z-10 h-28 w-screen">
  </div>
  <Header
    title={t("counter.hero.title")}
    text={t("counter.hero.text")}
    image={carportCounter}
    imageAlt="TODO"
  />
  <div
    data-scroll-animated
    class="bg-background sticky top-0 z-10 -mb-20 h-28 w-screen"
  >
  </div>
  <MediaContent
    direction="left"
    title={t("counter.story.title")}
    text={t("counter.story.text")}
    image={carportCounterBikes}
    imageAlt="TODO"
  />
</Layout>
