---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import MediaContent from "@/components/MediaContent.astro";
import { useTranslations, useTranslatedPath } from "@/lib/i18n";
import { reviews } from "@/constants/reviews";
import SpotlightGallery from "@/components/SpotlightGallery.astro";

const { lang } = Astro.props as { lang: keyof typeof reviews };
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Layout>
  <div data-scroll-animated class="h-28 w-screen sticky top-0 z-10 bg-muted">
  </div>
  <Header
    title={t("place.header.title")}
    text={t("place.header.text")}
    image="/header-image.jpg"
    buttonText={t("place.header.button")}
    buttonLink={translatePath("/book")}
    buttonVariant="secondary"
  />
  <div
    data-scroll-animated
    class="h-28 -mb-20 w-screen sticky top-0 z-10 bg-background"
  >
  </div>
  <MediaContent
    direction="left"
    title={t("place.services.title")}
    text={t("place.services.text")}
    image="/header-image.jpg"
  />
  <MediaContent
    title={t("place.events.title")}
    text={t("place.events.text")}
    images={[
      { src: "/header-image.jpg" },
      { src: "/the-place-1.jpg" },
      { src: "/the-place-1.jpg" },
    ]}
    buttonText={t("place.events.button")}
    buttonLink={translatePath("/contact")}
  />
  <section class="mt-48 px-20">
    <h2>{t("place.spotlight.title")}</h2>
    <SpotlightGallery
      title={t("place.spotlight.gallery1.title")}
      direction="left"
      images={[
        { src: "/the-place-1.jpg", alt: "" },
        { src: "/the-place-2.jpg", alt: "" },
        { src: "/the-place-3.jpg", alt: "" },
        { src: "/the-place-4.jpg", alt: "" },
        { src: "/the-place-5.jpg", alt: "" },
      ]}
    />
    <SpotlightGallery
      title={t("place.spotlight.gallery2.title")}
      images={[
        { src: "/the-place-1.jpg", alt: "" },
        { src: "/the-place-2.jpg", alt: "" },
        { src: "/the-place-3.jpg", alt: "" },
        { src: "/the-place-4.jpg", alt: "" },
        { src: "/the-place-5.jpg", alt: "" },
      ]}
    />
    <SpotlightGallery
      title={t("place.spotlight.gallery3.title")}
      direction="left"
      images={[
        { src: "/the-place-1.jpg", alt: "" },
        { src: "/the-place-2.jpg", alt: "" },
        { src: "/the-place-3.jpg", alt: "" },
        { src: "/the-place-4.jpg", alt: "" },
        { src: "/the-place-5.jpg", alt: "" },
      ]}
    />
  </section>
</Layout>
