---
import { Button } from "./ui/button";
import LanguageSwitcher from "./LanguageSwitcher.astro";
import Logo from "@/assets/DP_LogoText_black.svg";
import { useTranslations, getCurrentLang, getLocalizedUrl } from "@/lib/i18n";
import { Image } from "astro:assets";
import PlatformIcon from "./ui/icons/PlatformIcon.astro";

const lang = getCurrentLang(Astro.currentLocale);
const t = useTranslations(lang);
---

<footer class="bg-primary mt-16 space-y-48 p-16">
  <div class="flex justify-between">
    <Button
      href={getLocalizedUrl("home", lang)}
      variant="link"
      aria-hidden="true"
      tabindex="-1"
    >
      <Image
        src={Logo}
        alt="Domaine de Pipangaille"
        class="w-48 self-baseline bg-transparent"
      />
    </Button>
    <div>
      <h5>{t("footer.usefulLinks")}</h5>
      <ul>
        <li>
          <Button
            variant="link"
            class="-ml-6 py-2"
            href="https://www.tripadvisor.fr/Hotel_Review-g11695688-d5990107-Reviews-Domaine_de_Pipangaille-Andancette_Drome_Auvergne_Rhone_Alpes.html"
          >
            Tripadvisor
          </Button>
        </li>
        <li>
          <Button
            variant="link"
            class="-ml-6 py-2"
            href="https://www.pagesjaunes.fr/pros/56007503"
          >
            Pages Jaunes
          </Button>
        </li>
      </ul>
    </div>
    <div>
      <h5>{t("footer.knowUsBetter")}</h5>
      <ul>
        <li>
          <Button
            variant="link"
            class="-ml-6 py-2"
            href="https://facebook.com/domainedepipangaille"
          >
            <PlatformIcon platform="facebook" class="size-5" />
            Facebook
          </Button>
        </li>
        <li>
          <Button
            variant="link"
            class="-ml-6 py-2"
            href="https://instagram.com/domaine_de_pipangaille"
          >
            <PlatformIcon platform="instagram" class="size-5" />
            Instagram
          </Button>
        </li>
        <li>
          <Button
            variant="link"
            class="-ml-6 py-2"
            href="https://linkedin.com/company/domaine-de-pipangaille/"
          >
            <PlatformIcon platform="linkedin" class="size-5" />
            LinkedIn
          </Button>
        </li>
        <li>
          <Button
            variant="link"
            class="-ml-6 py-2"
            href="https://x.com/D_Pipangaille"
          >
            <PlatformIcon platform="x" class="size-5" />
            X
          </Button>
        </li>
      </ul>
    </div>
    <div>
      <h5>{t("footer.moreInfo")}</h5>
      <ul>
        <li>
          <Button
            variant="link"
            class="-ml-6 py-2"
            href={getLocalizedUrl("place", lang)}>{t("nav.place")}</Button
          >
        </li>
        <li>
          <Button
            variant="link"
            class="-ml-6 py-2"
            href={getLocalizedUrl("accommodations", lang)}
            >{t("nav.accommodations")}</Button
          >
        </li>
        <li>
          <Button
            variant="link"
            class="-ml-6 py-2"
            href={getLocalizedUrl("counter", lang)}>{t("nav.counter")}</Button
          >
        </li>
        <li>
          <Button
            variant="link"
            class="-ml-6 py-2"
            href={getLocalizedUrl("surroundings", lang)}
            >{t("nav.surroundings")}</Button
          >
        </li>
      </ul>
    </div>
    <div>
      <h5>{t("footer.contactUs")}</h5>
      <ul>
        <li>
          <Button variant="link" class="-ml-6 py-2" href="tel:+33456747382"
            >+33 4 56 74 73 82</Button
          >
        </li>
        <li>
          <Button
            variant="link"
            class="-ml-6 py-2"
            href="mailto:contact@domaine-de-pipangaille.fr"
            >contact@domaine-de-pipangaille.fr</Button
          >
        </li>
        <li>
          <Button
            variant="link"
            class="-ml-6 py-2"
            href={getLocalizedUrl("contact", lang)}
            >{t("footer.contactPage")}</Button
          >
        </li>
      </ul>
    </div>
  </div>
  <div>
    <ul class="flex items-center justify-center">
      <li>
        <Button variant="link" href={getLocalizedUrl("legalNotices", lang)}
          >{t("footer.legalMentions")}</Button
        >
      </li>
      <li>
        <Button variant="link" href={getLocalizedUrl("privacyPolicy", lang)}
          >{t("footer.privacyPolicy")}</Button
        >
      </li>
      <li>
        <Button
          variant="link"
          href={getLocalizedUrl("termsAndConditions", lang)}
          >{t("footer.salesConditions")}</Button
        >
      </li>
      <li>
        <LanguageSwitcher
          class="my-auto w-full max-w-xs hover:bg-transparent"
        />
      </li>
    </ul>
  </div>
</footer>
