---
import { Button } from "./ui/button";
import LanguageSwitcher from "./LanguageSwitcher.astro";
import ThemeSelector from "./ThemeSelector.astro";
import Logo from "./Logo.astro";
import { useTranslations, getCurrentLang, getLocalizedUrl } from "@/lib/i18n";
import PlatformIcon from "./ui/icons/PlatformIcon.astro";

const lang = getCurrentLang(Astro.currentLocale);
const t = useTranslations(lang);
---

<footer
  class="bg-primary dark:text-background mt-16 pb-32 dark:[--foreground:var(--background)]"
>
  <div
    data-scroll-animated
    class="bg-primary sticky top-0 left-0 z-10 ml-[calc(50%-50vw)] h-28 w-screen"
  >
  </div>
  <div
    class="flex flex-col items-center justify-between gap-x-4 gap-y-12 px-16 md:flex-row md:items-start"
  >
    <Button
      href={getLocalizedUrl("home", lang)}
      class="hidden xl:block"
      variant="link"
      aria-hidden="true"
      tabindex="-1"
    >
      <Logo class="w-48 self-baseline" />
    </Button>
    <div>
      <p class="h5 mb-2 text-center md:text-left">{t("footer.usefulLinks")}</p>
      <ul class="flex flex-wrap justify-center md:flex-col">
        <li>
          <Button
            variant="link"
            class="px-4 py-2 text-left md:-ml-6 md:px-6"
            href="https://www.tripadvisor.fr/Hotel_Review-g11695688-d5990107-Reviews-Domaine_de_Pipangaille-Andancette_Drome_Auvergne_Rhone_Alpes.html"
          >
            Tripadvisor
          </Button>
        </li>
        <li>
          <Button
            variant="link"
            class="px-4 py-2 text-left md:-ml-6 md:px-6"
            href="https://www.pagesjaunes.fr/pros/56007503"
          >
            Pages Jaunes
          </Button>
        </li>
      </ul>
    </div>
    <div>
      <p class="h5 mb-2 text-center md:text-left">{t("footer.knowUsBetter")}</p>
      <ul class="flex flex-wrap justify-center md:flex-col">
        <li>
          <Button
            variant="link"
            class="px-4 py-2 text-left md:-ml-6 md:px-6"
            href="https://facebook.com/domainedepipangaille"
          >
            <PlatformIcon platform="facebook" class="size-5" />
            Facebook
          </Button>
        </li>
        <li>
          <Button
            variant="link"
            class="px-4 py-2 text-left md:-ml-6 md:px-6"
            href="https://instagram.com/domaine_de_pipangaille"
          >
            <PlatformIcon platform="instagram" class="size-5" />
            Instagram
          </Button>
        </li>
        <li>
          <Button
            variant="link"
            class="px-4 py-2 text-left md:-ml-6 md:px-6"
            href="https://linkedin.com/company/domaine-de-pipangaille/"
          >
            <PlatformIcon platform="linkedin" class="size-5" />
            LinkedIn
          </Button>
        </li>
        <li>
          <Button
            variant="link"
            class="px-4 py-2 text-left md:-ml-6 md:px-6"
            href="https://x.com/D_Pipangaille"
          >
            <PlatformIcon platform="x" class="size-5" />
            X
          </Button>
        </li>
      </ul>
    </div>
    <div>
      <p class="h5 mb-2 text-center md:text-left">{t("footer.moreInfo")}</p>
      <ul class="flex flex-wrap justify-center md:flex-col">
        <li>
          <Button
            variant="link"
            class="px-4 py-2 text-left md:-ml-6 md:px-6"
            href={getLocalizedUrl("place", lang)}>{t("nav.place")}</Button
          >
        </li>
        <li>
          <Button
            variant="link"
            class="px-4 py-2 text-left md:-ml-6 md:px-6"
            href={getLocalizedUrl("accommodations", lang)}
            >{t("nav.accommodations")}</Button
          >
        </li>
        <li>
          <Button
            variant="link"
            class="px-4 py-2 text-left md:-ml-6 md:px-6"
            href={getLocalizedUrl("counter", lang)}>{t("nav.counter")}</Button
          >
        </li>
        <li>
          <Button
            variant="link"
            class="px-4 py-2 text-left md:-ml-6 md:px-6"
            href={getLocalizedUrl("surroundings", lang)}
            >{t("nav.surroundings")}</Button
          >
        </li>
      </ul>
    </div>
    <div>
      <p class="h5 mb-2 text-center md:text-left">{t("footer.contactUs")}</p>
      <ul class="flex flex-wrap justify-center md:flex-col">
        <li>
          <Button
            variant="link"
            class="px-4 py-2 text-left md:-ml-6 md:px-6"
            href="tel:+33456747382">+33 4 56 74 73 82</Button
          >
        </li>
        <li>
          <Button
            variant="link"
            class="px-4 py-2 text-left md:-ml-6 md:px-6"
            href="mailto:contact@domaine-de-pipangaille.fr"
            >contact@domaine-de-pipangaille.fr</Button
          >
        </li>
        <li>
          <Button
            variant="link"
            class="px-4 py-2 text-left md:-ml-6 md:px-6"
            href={getLocalizedUrl("contact", lang)}
            >{t("footer.contactPage")}</Button
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="px-16 pt-32">
    <ul class="flex flex-col-reverse items-center justify-center md:flex-row">
      <li>
        <Button variant="link" href={getLocalizedUrl("legalNotices", lang)}
          >{t("footer.legalMentions")}</Button
        >
      </li>
      <li>
        <Button variant="link" href={getLocalizedUrl("privacyPolicy", lang)}
          >{t("footer.privacyPolicy")}</Button
        >
      </li>
      <li>
        <Button
          variant="link"
          href={getLocalizedUrl("termsAndConditions", lang)}
          >{t("footer.salesConditions")}</Button
        >
      </li>
      <li>
        <LanguageSwitcher
          idPrefix="footer-language-switcher"
          class="my-2 w-full max-w-xs hover:bg-transparent"
        />
      </li>
    </ul>
    <div class="mt-8 flex justify-center">
      <ThemeSelector class="mb-4" />
    </div>
  </div>
</footer>
