---
import Logo from "@/assets/DP_LogoText_black.svg";
import Button from "./ui/button/button.astro";
import LanguageSwitcher from "./LanguageSwitcher.astro";
import { useTranslations, getCurrentLang, getLocalizedUrl } from "@/lib/i18n";
import { Image } from "astro:assets";
import { languages } from "@/i18n/ui";

type Props = {
  reduce?: boolean;
  navHeight?: string;
  reducedNavHeight?: string;
  navBackground?: string;
};

const {
  reduce = false,
  navHeight = "h-28",
  reducedNavHeight,
  navBackground = "bg-transparent",
} = Astro.props as Props;

const lang = getCurrentLang(Astro.currentLocale) as keyof typeof languages;
const t = useTranslations(lang);
const navbarHeightClass = reduce ? reducedNavHeight : navHeight;
---

<nav
  data-scroll-animated
  class={`fixed inset-x-0 z-20 flex ${navbarHeightClass} ${navBackground} items-center justify-between px-4 md:px-8 lg:px-20`}
>
  <Button
    href={getLocalizedUrl("home", lang)}
    class="-mx-6 hidden xl:block"
    variant="link"
    aria-hidden="true"
    tabindex="-1"
  >
    <Image
      src={Logo}
      alt="Domaine de Pipangaille"
      class="w-28 bg-transparent"
    />
  </Button>
  <ul class="-mx-6 flex md:mx-0">
    <li>
      <Button
        variant="link"
        class="px-1 md:pr-2.5 lg:pr-3.5 xl:pr-6"
        href={getLocalizedUrl("home", lang)}
      >
        {t("nav.home")}
      </Button>
    </li>
    <li>
      <Button
        variant="link"
        class="px-1 md:px-2.5 lg:px-3.5 xl:px-6"
        href={getLocalizedUrl("place", lang)}
      >
        {t("nav.place")}
      </Button>
    </li>
    <li>
      <Button
        variant="link"
        class="px-1 md:px-2.5 lg:px-3.5 xl:px-6"
        href={getLocalizedUrl("accommodations", lang)}
      >
        {t("nav.accommodations")}
      </Button>
    </li>
    <li>
      <Button
        variant="link"
        class="px-1 md:px-2.5 lg:px-3.5 xl:px-6"
        href={getLocalizedUrl("counter", lang)}
      >
        {t("nav.counter")}
      </Button>
    </li>
    <li>
      <Button
        variant="link"
        class="px-1 md:px-2.5 lg:px-3.5 xl:px-6"
        href={getLocalizedUrl("surroundings", lang)}
      >
        {t("nav.surroundings")}
      </Button>
    </li>
  </ul>
  <ul class="flex items-center gap-4">
    <li>
      <LanguageSwitcher class="w-full max-w-xs" />
    </li>
    <li>
      <Button
        variant="outline"
        class="hover:bg-background bg-transparent"
        href={getLocalizedUrl("contact", lang)}
      >
        {t("nav.contact")}
      </Button>
    </li>
    <li>
      <Button href={getLocalizedUrl("booking", lang)}>{t("nav.book")}</Button>
    </li>
  </ul>
</nav>
