---
import Logo from "@/assets/DP_LogoText_black.svg";
import Button from "./ui/button/button.astro";
import LanguageSwitcher from "./LanguageSwitcher.astro";
import { useTranslations, getCurrentLang, getLocalizedUrl } from "@/lib/i18n";
import { Image } from "astro:assets";
import { languages } from "@/i18n/ui";

const lang = getCurrentLang(Astro.currentLocale) as keyof typeof languages;
const t = useTranslations(lang);
---

<nav
  data-scroll-animated
  class="fixed inset-x-0 z-20 flex h-28 items-center justify-between px-20"
>
  <Button
    href={getLocalizedUrl("home", lang)}
    variant="link"
    aria-hidden="true"
    tabindex="-1"
  >
    <Image
      src={Logo}
      alt="Domaine de Pipangaille"
      class="w-28 bg-transparent"
    />
  </Button>
  <ul class="flex">
    <li>
      <Button variant="link" href={getLocalizedUrl("home", lang)}
        >{t("nav.home")}</Button
      >
    </li>
    <li>
      <Button variant="link" href={getLocalizedUrl("place", lang)}
        >{t("nav.place")}</Button
      >
    </li>
    <li>
      <Button variant="link" href={getLocalizedUrl("accommodations", lang)}
        >{t("nav.accommodations")}</Button
      >
    </li>
    <li>
      <Button variant="link" href={getLocalizedUrl("counter", lang)}
        >{t("nav.counter")}</Button
      >
    </li>
    <li>
      <Button variant="link" href={getLocalizedUrl("surroundings", lang)}
        >{t("nav.surroundings")}</Button
      >
    </li>
  </ul>
  <ul class="flex items-center gap-4">
    <li>
      <LanguageSwitcher class="w-full max-w-xs" />
    </li>
    <li>
      <Button
        variant="outline"
        class="hover:bg-background bg-transparent"
        href={getLocalizedUrl("contact", lang)}
      >
        {t("nav.contact")}
      </Button>
    </li>
    <li>
      <Button href={getLocalizedUrl("book", lang)}>{t("nav.book")}</Button>
    </li>
  </ul>
</nav>
