---
import Logo from "@/assets/DP_LogoTexte_noir.svg";
import Button from "./ui/button/button.astro";
import LanguageSwitcher from "./LanguageSwitcher.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath } from "@/lib/i18n";
import { Image } from "astro:assets";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<nav
  data-scroll-animated
  class="fixed inset-x-0 z-20 px-20 h-28 flex justify-between items-center"
>
  <Image src={Logo} alt="Domaine de Pipangaille" class="bg-transparent w-28" />
  <ul class="flex">
    <li>
      <Button variant="link" href={translatePath("/")}>{t("nav.home")}</Button>
    </li>
    <li>
      <Button variant="link" href={translatePath("/the-place")}>{t("nav.place")}</Button>
    </li>
    <li>
      <Button variant="link" href={translatePath("/accommodations")}
        >{t("nav.accommodations")}</Button
      >
    </li>
    <li>
      <Button variant="link" href={translatePath("/the-counter")}
        >{t("nav.counter")}</Button
      >
    </li>
    <li>
      <Button variant="link" href={translatePath("/surroundings")}
        >{t("nav.surroundings")}</Button
      >
    </li>
  </ul>
  <ul class="flex gap-4 items-center">
    <li>
      <LanguageSwitcher class="w-full max-w-xs" />
    </li>
    <li>
      <Button variant="outline" href={translatePath("/contact")}
        >{t("nav.contact")}</Button
      >
    </li>
    <li>
      <Button href={translatePath("/book")}>{t("nav.book")}</Button>
    </li>
  </ul>
</nav>
