---
import Footer from "@/components/Footer.astro";
import "../styles/global.css";
import Navbar from "@/components/Navbar.astro";
import "@fontsource/source-serif-4/300.css";
import "@fontsource/barlow/400.css";
import "@fontsource/barlow/700.css";
import { getLangFromUrl } from "../lib/i18n";

type Props = {
  bodyClass?: string;
};

const { bodyClass = "" } = Astro.props as Props;
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Pipangaille" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Domaine de Pipangaille</title>
  </head>
  <body class={bodyClass}>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
